.header {
  background-color: rgb(255, 255, 255);

  // .header__container

  &__container {
    max-width: 1920px;
    padding-left: 130px;
    padding-top: 68px;
    padding-bottom: 56px;
    box-sizing: border-box;
    height: 150px;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    padding-right: 80px;
  }

  &__nav {
    display: flex;
    padding-right: 114px;
    gap: 60px;
    color: rgb(90, 90, 90);
    font-family: Prompt;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
  }

  &__nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }

  .nav-link-active {
    color: black;
    text-decoration: none;
    font-weight: 400;
    display: flex;
    align-items: center;
    width: 63px;
    height: 27px;
  }

  .nav-link {
    text-decoration: none;
    font-weight: 400;
    color: rgb(90, 90, 90);
    display: flex;
    align-items: center;
    width: 63px;
    height: 27px;
  }

  &__button {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  &__button-login {
    border: 1px solid rgb(29, 175, 207);
    border-radius: 50px;
    color: rgb(29, 175, 207);
    background-color: white;
    width: 162px;
    height: 59px;
    text-transform: uppercase;
  }

  &__button-sign-up {
    border: 2px solid rgb(29, 175, 207);
    border-radius: 50px;
    background: rgb(29, 175, 207);
    text-transform: uppercase;
    color: white;
    width: 162px;
    height: 59px;
  }
}